<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>nano360-001-site1.btempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://nano360-001-site1.btempurl.com:8172/MsDeploy.axd?site=nano360-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>nano360-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\nano360-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="VeterinariaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A2F6FD_Veterinaria;User ID=DB_A2F6FD_Veterinaria_admin;Password=Alenano9631" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BIOGRAPHY_OF_PETSFAP.Models.VeterinariaEntities, BIOGRAPHY OF PETSFAP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VeterinariaConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A2F6FD_Veterinaria;User ID=DB_A2F6FD_Veterinaria_admin;Password=Alenano9631" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A2F6FD_Veterinaria;User ID=DB_A2F6FD_Veterinaria_admin;Password=Alenano9631" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VeterinariaConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A2F6FD_Veterinaria;User Id=DB_A2F6FD_Veterinaria_admin;Password=Alenano9631;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VeterinariaConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL7002.site4now.net;Initial Catalog=DB_A2F6FD_Veterinaria;User ID=DB_A2F6FD_Veterinaria_admin;Password=Alenano9631</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VeterinariaEntities-Web.config Connection String">
      <ParameterValue>Data Source=SQL7002.site4now.net;Initial Catalog=DB_A2F6FD_Veterinaria;User ID=DB_A2F6FD_Veterinaria_admin;Password=Alenano9631</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>